.app {
  display: grid;
  grid-template-columns: repeat(18, [col-start] 1fr [col-end]);
  max-width: 180rem;
  margin: 0 auto;
}

h1 {
  display: block;
  font-size: 2em;

  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: 500;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: 500;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
}

.progressBar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;

  &__item {
    width: 100%;
    background-color: $color-purple-light-1;
    height: 4.5rem;

    border-radius: 0.5rem;

    &::-webkit-progress-bar {
      background-color: $color-purple-light-1;
      border-radius: 0.5rem;
    }

    &::-moz-progress-bar {
      background-color: $color-primary-light;
    }
    &::-moz-progress-value {
      background-color: $color-purple-light-1;
      border-radius: 0.5rem;
    }

    &::-webkit-progress-value {
      background-color: $color-primary-light;
    }
  }
}

.dialog {
  width: 100%;
  background: transparent;
  overflow: initial;

  &::backdrop {
    background: rgba(26, 26, 45, 0.375);
    backdrop-filter: blur(7px);
  }
}

.radioBox {
  font-size: 1.4rem;
  margin-top: 3rem;
  width: 100%;
  position: relative;
  display: flex;
  

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $color-grey-1;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
  }

  label {
    cursor: pointer;
    text-align: center;
  }

  input[type='radio']:checked + label {
    color: $color-primary;
    position: relative;
    z-index: 2;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-primary;
  }
}

.analytics__radioBox {
  font-size: 1.4rem;
  margin-top: 3rem;
  position: relative;
  display: flex;
  

  &::after {
    content: '';
    width: 100vw;
    height: 2px;
    background-color: $color-grey-1;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
  }

  label {
    cursor: pointer;
    text-align: center;
  }

  input[type='radio']:checked + label {
    color: black;
    position: relative;
    z-index: 2;
    padding-bottom: 1rem;
    font-weight: 500;
    border-bottom: 2px solid black;
  }
}



