.app {
  display: grid;
  grid-template-columns: repeat(18, [col-start] 1fr [col-end]);
  max-width: 180rem;
  margin: 0 auto;
}

h1 {
  display: block;
  font-size: 2em;

  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: 500;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: 500;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
}

.authDialog {
  background: $color-dark;
  display: grid;
  align-content: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &__container {
    background-color: $color-white;
    border-radius: $border-radius;
    justify-content: center;
    width: 76rem;
    margin: 0 auto;
    position: relative;
    min-height: 50vh;
    // height: calc(100% + 2rem);
  }

  &__button {
    color: $color-black;
    position: absolute;
    right: 0;
    padding: 1rem;
    border: 1px solid $color-grey;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    cursor: pointer;
  }

  &::backdrop {
    background: rgba(26, 26, 45, 0.5);
  }
}
