.heading__1 {
  text-transform: capitalize;
  box-shadow: 2px 2px 10px #fff, -2px -2px 10px #ffffff;
  border-radius: 1rem;
  text-align: center;
}

button[aria-label='Select country'] {
  // background-color: red;
  // display: none;
  position: absolute !important;
  left: -1rem !important;
  width: 10px !important;
  height: 10px !important;

  svg{
    width: 100% !important;
    height: 100% !important;
  }
}

.searchBox__checkbox:checked {
  //  display: none;
  width: 2rem;
  right: 0;
}

.searchBox__checkbox:checked ~ .searchBox__input {
  width: 20rem;

  @include respond(smallest-phone) {
    width: 100%;
  }
}
.searchBox__checkbox:checked ~ .searchBox__closeIcon {
  display: block;
  width: 1rem;
  right: 1rem;
  position: absolute;
}

.searchBox {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.increaseSearchBox {
  background-color: rgba(0, 0, 0, 0.395);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 1;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.dialog {
  background: transparent;
  width: 400px;

  @include respond(phone) {
    width: 300px;
  }

  @include respond(smaller-phone) {
    width: 100%;
  }

  &__header {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-1;
  }

  &__body {
    display: grid;
    justify-content: center;
    padding: 0 0.5rem;

    &--content {
      display: grid;
      justify-items: center;
      gap: 0.5rem;
      padding: 1rem;

      .content {
        &__heading {
          font-weight: bold;
          text-transform: uppercase;
        }

        &__amount {
          font-weight: bold;
        }
        &__btn {
          background-color: $color-6;
          border-radius: $border-radius;
          color: white;
          padding: 0.3rem 1rem;
          text-transform: capitalize;
        }

        &__btn--orange{
          background-color: #ffa500;
         color: black;
        }

        &__btn--small{
          text-transform: capitalize;
          padding: .5rem 1rem;
        }

        &__amountField{
          border: 1px solid $color-1;
          padding: .5rem;
          border-radius: $border-radius;
        }
      }
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      padding: 0.5rem 0;

      .tags__btn {
        border: 2px solid $color-1;
        border-radius: $border-radius;
        padding: 0.2rem 1rem;
        color: $color-1;
        text-transform: uppercase;


        &:hover{
          background-color: $color-1;
          color: white;
        }
      }
    }
  }
}
