// COLOR

$color-primary: #40AD6B;
$color-primary-dark: #338A56;

$color-tertiary: #372768;

$color-white: #fff;
$color-black: #000;

$color-grey: #D2D4D8;
$color-grey-1: #d2d4d84d;
$color-grey-2: #D9EFE1;

$color-dark: #0c1018bf;

$border-radius: 8px;
$border-radius-lg: 20px;
