// COLOR

$color-primary: #40AD6B;
$color-primary-dark: #338A56;
$color-primary-light: #8CCEA6;

$color-green-light: #D9EFE1;


$color-tertiary: #372768;

$color-white: #fff;
$color-black: #000;
$color-dark: #0c1018bf;

$color-grey: #D2D4D8;
$color-grey-1: #d2d4d84d;
$color-grey-3: #4B5463;


$color-purple-light: #9D8DCE;
$color-purple-light-1: #EEEBF6;
$color-purple: #4A348A;
$color-purple-2: #7d67bd;

$color-red-light: #C7A1A1;
$color-red-light-1: #FDE9E9;


$border-radius: 8px;
$border-radius-lg: 20px;
$border: 1px solid $color-purple-light;
$border-2: 1px solid $color-red-light;

$translate: -10%;

