.dashboard {
  display: grid;
  grid-template-columns: max-content auto;
  height: 100vh;

  &__container {
    padding: 2rem 4rem;
  }

  &__home {
    display: grid;
    grid-template-columns: 55% auto;
    gap: 1rem;

  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__left {
      display: grid;
      gap: 0;
    }

    
    &__right {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  //RESPONSIVENESS

  @include respond(tab-land){
    
    &__home--mobile{
      background-color: red;
    }

    &__home{
      grid-template-columns: auto;
    }
  }
}
