.hero {
  grid-column: 1 / -1;
  position: relative;
  height: 100vh;
  z-index: 1;
  justify-items: center;

  @include respond(landscape) {
    background-color: red;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;
    bottom: 0;
    background: url('/heroImg2.png') no-repeat bottom;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    z-index: 1;

    background: url('/heroEllipse.png') no-repeat bottom;
  }

  &__mobileImg {
    display: none;
  }

  &__container {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
    gap: 1rem;
    position: relative;
    z-index: 5;
    text-align: center;

    transform: translateY(-25%);
  }

  &__header {
    font-size: 5rem;
    max-width: 40rem;
    line-height: 5.8rem;
    font-weight: 400;
  }

  &__text {
    max-width: 51rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: $border-radius;
    background-color: $color-primary;
    color: $color-white;
    margin-top: 3rem;
    padding: 1rem 4rem;

    button {
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
    }
  }

  //RESPONSIVENESS

  @include respond(tab-land) {
    &__container {
      transform: translateY(-20%);
    }
  }

  @include respond(phone) {
    display: grid;
    grid-template-rows: 60% auto;
    justify-items: start;
    gap: 3rem;

    &::before,
    &::after {
      display: none;
    }

    &__mobileImg {
      // background-color: red;
      display: flex;
      width: 100%;
      position: relative;

      img {
        width: 100%;
      }
    }

    &__container {
      height: auto;
      transform: none;
      justify-items: start;
      align-content: baseline;

      text-align: left;

      max-width: 80%;
      padding-left: 3rem;
    }

    &__header {
      line-height: 4.2rem;
      font-size: 3.4rem;
      max-width: none;
    }

    &__text {
      max-width: none;
      text-align: left;
    }
  }

  @include respond(smaller-phone) {
    grid-template-rows: 50% auto;

    &__container {
      max-width: 100%;
      padding-right: 3rem;

      margin-top: 2rem;
    }
  }
}
