.dashboard__home {
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: min-content;
  gap: 1rem;
}

.home {
  &__left {
    border-radius: $border-radius;
    padding: 1rem;
    border: $border;

    &-1{
        display: grid;
        gap: 2rem;

        .left-1{

            &__box{
                display: grid;
                grid-template-columns: 60% 40%;
                gap: 1rem;
            }

            &__progress{
                background-color: $color-purple-light-1;
                padding: 1rem 2rem;
                border-radius: $border-radius;
                display: flex;
                gap: 1rem;
                color: $color-purple-light;
            }
        }
    }
  }

  &__right {
    border-radius: $border-radius;
    padding: 1rem;
    border: $border-2;
  }
}
