.dashboard__home {
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: min-content;
  gap: 1rem;
}

.home {
  &__left {
    border-radius: $border-radius;
    padding: 1rem;
    border: $border;

    &-1{
        display: grid;
        gap: 2rem;

        .left-1{

            &__box{
                display: grid;
                grid-template-columns: 60% auto;
                gap: 1rem;
            }

            &__progress{
                background-color: $color-purple-light-1;
                padding: 1rem 2rem;
                border-radius: $border-radius;
                display: flex;
                gap: 1rem;
                color: $color-tertiary;
            }

            &__btn{
                font-size: 1.4rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $color-white;
                background-color: $color-primary;
                border-radius: $border-radius;
            }
        }
    }
  }

  &__right {
    border-radius: $border-radius;
    padding: 1rem;
    border: $border-2;
  }
}
