.sidebar {
  height: 100%;
  transition: all 0.3s;
  width: 30rem;
  position: relative;
  display: grid;
  justify-items: center;
  background-color: $color-primary-dark;


 @include respond(tab){
    transform: translateX(-100vw);
  }


  &__container {
    position: absolute;
    padding: 4rem;
    width: 100%;
    // height: 100%;
    // height: max-content;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: $color-primary-dark;
  }

  .section-1 {
    display: flex;
    width: 100%;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    position: relative;

    span {
      label {
        cursor: pointer;
      }

      svg {
        width: 2.8rem;
        height: 2.8rem;
        color: white;
      }
    }

    &__box {
      display: flex;
      gap: 0.5rem;

      h3 {
        color: white;
        font-weight: 500;
        font-size: 1.7rem;
      }
    }
  }

  .section-2 {
    .iconsBox {
      display: grid;
      gap: 1rem;
      width: 100%;

      .active {
        transition: all 0.2s;
        padding: 1rem 2rem;
        background-color: $color-green-light;
        color: black;
        //transform: translateX(1rem) scale(1.01);

        svg {
          fill: black;
        }
      }

      a {
        display: flex;
        gap: 1rem;
        font-size: 1.6rem;
        border-radius: $border-radius;
        align-items: center;
        padding: 1rem 0;
        width: max-content;
        transition: all 0.2s;

        svg {
          fill: white;
        }

        &:hover {
          transition: all 0.2s;
          padding: 1rem 2rem;
         // background-color: $color-green-light;
         background-color: $color-primary;
          color: black;
          transform: translateX(1rem) scale(1.01);

          svg {
            fill: black;
          }
        }
      }
    }
  }

  .section-3 {
    button {
      display: flex;
      gap: 1rem;
      font-size: 1.6rem;
      border-radius: $border-radius;
      width: 100%;
      align-items: center;
      padding: 1rem 0;

      &:hover {
        padding: 1rem 2rem;
        background-color: $color-green-light;
        color: black;
        transition: all 0.2s;
        transform: translateX(1rem);
        transform: scale(1.01);

        svg {
          fill: black;
        }
      }

      svg {
        fill: white;
      }
    }
  }
}

.sidebarToggle {
  width: 8rem;

  .section-1 {
    justify-content: center;
    &__box {
      display: none;
    }
  }

  .section-2 {
    .iconsBox {
      a {
        padding: 1rem 2rem;

        span {
          display: none;
        }

        &:hover {
          transition: all 0.5s;
          transform: none;

          svg {
            transform: scale(0.8);
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .section-3 {
    button {
      span {
        display: none;
      }
    }
  }
}
