.sidebar{
    height: 100%;
    grid-column: 1 / 4;
    background-color: $color-primary;


    &__container{
        position: fixed;
        padding: 4rem;
    }

    .section-1{
        display: flex;
        width: 100%;
        gap: 4rem;
        justify-content: space-between;
        align-items: center;

        svg{
            width: 28px;
            height: 28px;
            color: white;
        }

        &__box{
            display: flex;
            gap: .5rem;

            h3{
                color: white;
                font-weight: 500;
                font-size: 1.7rem;
            }
        }
    }
}