.authDialog {
  background: $color-dark;
  display: grid;
  align-content: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &__container {
    background-color: $color-white;
    border-radius: $border-radius;
   // justify-content: center;
    place-content: center;
    width: 76rem;
    margin: 0 auto;
    position: relative;
    min-height: 40rem;
  }
  &__message {
    border-radius: $border-radius;
    justify-content: center;
    width: 68rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
  }

  &__button {
    color: $color-black;
    position: absolute;
    right: 0;
    padding: 1rem;
    border: 1px solid $color-grey;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    cursor: pointer;
  }

  &::backdrop {
    background: rgba(26, 26, 45, 0.5);
  }

  @include respond(phone) {
    &__container,
    &__message {
      width: 100%;
    }
  }
}

.firstStep {
  padding: 2rem;
  display: grid;
  justify-items: center;
  margin-top: 4rem;
  gap: 4rem;

  .container {
    &__box {
      display: grid;
      gap: 1rem;

      .box__btn {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        border: 1px solid $color-grey;
        padding: 1rem 3rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}

.pinlogin .pinlogin-field {
  box-sizing: border-box;
  display: inline-block;
  width: 4rem !important;
  height: 4rem;
  padding: 0 !important;
  margin: 0 5px;
  border: none;
  border-bottom: 1px solid #969595;
  border-radius: 3px;
  text-align: center;
  color: black;
  font-size: 1.6rem;
  box-shadow: inset -1px -1px 10px rgba(0, 0, 0, 0.1);
  /* background: inherit; */
}

.pinlogin .pinlogin-field:focus {
  background: white;
}

.pinlogin {
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}
