.form{

    display: grid;
    color: $color-black;
    gap: 2rem;

    &__input {
        display: grid;
        gap: .5rem;

        .input{
            &__label{
                font-size: 1.4rem;

            }

            &__item{
                font-size: 1.6rem;
                background-color: $color-grey-1;
                padding: 1.5rem 1rem;
                border-radius: $border-radius;
                outline: none;
            }
        }

    }

    &__btn{
        border-radius: $border-radius;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 600;
    }
    
}

