.header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    @include respond(phone) {  
        padding: 1rem;
    }



    &__logo{
        width: 7rem;
        height: 3rem;
    
    }

    &__profile{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__walletBtn{
        border: 1px solid white;
        background-color: $color-1;
        color: white;
        padding: .2rem 1rem;
        border-radius: $border-radius;
        cursor: pointer;
    }

    &__notification {
      width: 30px;
      height: 30px;
      background-color: rgba($color-4, 0.2);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      svg {
        color: $color-1;
      }
    }

    &__avatar {
      border-radius: 50%;
      object-fit: cover;
      width: 30px;
      height: 30px;
      overflow: hidden;
      display: flex;
      cursor: pointer;
    }
  }