.header{

    display: grid;
    grid-column: col-start 2 / col-start 18;
    background-color: red;
    margin-top: 1rem;

    &__left{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}