.header {
   grid-column: col-start 2 / col-start 18;
    position: relative;
    z-index: 3;

  &__container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;

     @include respond(phone) {
        justify-content: center;
      }
  }

  &__left {
    display: flex;
    align-items: center;
  
    gap: 0.5rem;

    img{
      width: 9rem;

      @include respond(phone){
        width: 12.5rem;
        margin-top: 4rem;
      }
    }

    // &--logoText {
    //   font-family: 'Oxygen';
    //   font-weight: 700;
    //   font-size: 1.8rem;

    //   @include respond(phone){
    //     font-size: 3rem;
    //   }
    // }
  }

  &__right {
    &--btn {
      border: 1px solid $color-tertiary;
      border-radius: $border-radius;
      padding: 0.5rem 3rem;

      @include respond(phone) {
        display: none;
      }
    }
  }
}
